.square {
  background-color: coral;
  width: 30px;
  height: 30px;
}

.container {
  display: grid;
  grid-template-columns: 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px;
  grid-template-rows: 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px 1px; 
  column-gap: 30px;
  row-gap: 30px;
}