.square {
  width: 10px;
  height: 10px;
}

.color {
  background-color: coral;
}

.container {
  display: grid;
  grid-template-columns: repeat(128,1px);
  grid-template-rows: repeat(128,1px); 
  column-gap: 10px;
  row-gap: 10px;
}